<p>
	<strong>Title: </strong>
	<%= @event.title %>
</p>

<p>
	<strong>Time: </strong>
	<%= @event.time %>
</p>

<p>
	<strong>Place: </strong>
	<%= @event.place %>
</p>

<br><br><br><br>
<%= link_to 'All events', events_path %>