<h1>ToDone 2 - Personal Task Manager</h1>
<p>This project builds a personal task manager. Not tell you todos, but help them become dones.</p>
<h2>Latest News</h2>
<p style="color: red">2016-12-30: Basic CRUD (create, read, update &amp; delete) features are completed.</p>
<p style="color: navy">2017-01-13: Mid-submission report has been finished.</p>
<p style="color: green">2017-01-22: Refactor of the whole application due to Ruby on Rails update.</p>
<p style="color: #9A8D08">2017-01-28: This project website is using <strong>Bootstrap 3.3.7</strong> powered by Twitter now.</p>
<p style="color: #8E0593">2017-01-29: ToDone 2 is released. Now, you can <strong>categorize</strong> events.</p>

<h2><%= link_to 'Launch Application - ToDone 2', controller: 'categories' %></h2>

<h2>Introduction</h2>
<p>This project is meant for Assigment 3 of Computing for Voluntary Welfare Organisation (CVWO) at National University of Singapore (NUS).</p>
<p>
	Author: <strong>Niu Yunpeng</strong><br>
	Matriculation No. <strong>A0162492A</strong>
</p>

<h3>About me</h3>
<p>I am currently a Year 1 undergraduate student at NUS. My major is Computer Engineering. I love programming and solving challenges.<br>
   I received NUS Science &amp; Technology (S&amp;T) Scholarship and had good academic results.</p>
<ul>
	<li>
		Website:  <a href="https://beckid.github.io/">beckid.github.io</a> (Under construction)<br>
		&emsp;&emsp;&emsp;&emsp;<a href="http://comp.nus.edu.sg/~e0134079/">comp.nus.edu.sg/~e0134079</a> (Under construction)
	</li>
	<li>Email:    <a href="mailto:neilniuyunpeng@gmail.com">neilniuyunpeng@gmail.com</a></li>
	<li>Facebook: <a href="https://www.facebook.com/NeilNiuYunpeng">@Yunpeng Niu</a></li>
	<li>LinkedIn: <a href="https://www.linkedin.com/in/yunpeng-niu">@Yunpeng Niu</a></li>
</ul>

<h2>Features</h2>
<ul>
	<li>Create/ Show / Modify / Delete (CRUD) Events</li>
	<li>Basic HTTP Authentication</li>
	<li>Categorize events</li>
	<li>Pages format powered by Twitter<sup>TM</sup> Bootstrap</li>
</ul>

<h2>Others</h2>
<p>This project is under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU Public License 3.0</a>.</p>